@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
/*main-cont*/
.main-cont{position: relative; padding-bottom: 60.4rem; background-color: #0054D3; background: url("../images/main_tablet-bg.png") no-repeat center center ; background-size: cover;}
.main-cont .txt{padding: 8.7rem 0 5rem;}
.main-cont .btn-main{ display: inline-block; margin-bottom: 5rem;}
.main-cont .btn-main a{background-color: #000; border-radius: 0.8rem; padding: 1.7rem 3.2rem;display: block; font-size: 1.8rem; text-align: center; transition: all 0.4s;}
.main-cont .btn-main a:hover{color: #0054D3; background-color: #fff; transition: all 0.4s;}
.main-cont .bg-img{position: absolute; bottom: -21.4rem; right: 50%; transform: translateX(50%);}
/*intro-cont*/
.intro-cont{padding: 3rem 0 0;}
.intro-cont .txt {font-size: 2.4rem; padding: 0 0 11.4rem;}
.intro-cont .txt span{display: block; font-size: 2.4rem; padding: 4rem 0 2.8rem;}
.intro-cont .box-wrap {display: flex; justify-content: space-between; flex-wrap: wrap;}
.intro-cont .box-wrap li{display: inline-block; width: calc(50% - 1rem); height: 16.2rem; border-radius: 2rem; border: 1px solid #ccc;}
.intro-cont .box-wrap li:nth-child(2){margin-bottom: 20px;}
.intro-cont .box-wrap li .box-inner{display: flex; justify-content: start; align-items: center; height: 100%;}
.intro-cont .box-wrap li .icon{display: inline-block; width: calc(30% - 1rem); margin: 0 1rem;}
.intro-cont .box-wrap li .box-txt{font-size: 2rem; color: #1a1a1a; line-height: 3.2rem; text-align: left; font-weight: 500; margin-right: 1rem;}
/*result-cont*/
.result-cont{padding: 20rem 0 18.6rem;}
.result-cont .txt{margin-bottom: 10rem;}
.result-cont .card-wrap ul{display: flex; flex-wrap: wrap; justify-content: space-between;}
.result-cont .card-wrap ul .card-inner{margin: 5.4rem 3.4rem;}
.result-cont .card-wrap .card{width: calc(50% - 1.1rem); height: 52.6rem; border-radius: 2rem; text-align: left;}
.result-cont .card-wrap .card1{width: 100%; margin-bottom: 2rem; background: #3a4149 url("../images/main_tablet2.png") no-repeat right;}
.result-cont .card-wrap .card2{background: #f6f6f6 url("../images/explan-icon1.png") no-repeat 76% 80%;}
.result-cont .card-wrap .card3{background: #f6f6f6 url("../images/explan-icon2.png") no-repeat 76% 82% ;}
.result-cont .card-wrap .card p{font-size: 2.8rem; line-height: 4rem; margin-bottom: 1.6rem; font-weight: 600;}
.result-cont .card-wrap .card span{font-size: 1.8rem; line-height: 3rem; font-weight: 400;}
/*explan-cont*/
.explan-cont{padding: 23.2rem 0 18.8rem; background-color: #e9f6ff; overflow: hidden;}
.explan-cont .m-box-img{display: none; margin-right:-10%; padding: 0 0 10% 10%;}
.explan-cont .slide-wrap{display: flex; justify-content: space-between; margin-top: 11.5rem;}
.explan-cont .slide-wrap .list{text-align: left; width: calc(33% - 0.4rem);}
.explan-cont .slide-wrap .list li{ width: calc(100% - 1.8rem); border-bottom: 1px solid #ccc; line-height: 12rem; transition: all 0.4s;}
.explan-cont .slide-wrap .list li p{line-height: 4rem; padding: 3.8rem 0 0 4rem; height: 8.2rem; font-size: 2.8rem; font-weight: 600;}
.explan-cont .slide-wrap .list li span{display: none; font-size: 1.8rem; line-height: 3rem; color: #fff; padding: 0 0 4rem 4rem;}
.explan-cont .slide-wrap .list li.on{width: 100%; background-color: #0054D3; border: none; border-radius: 2rem; transition: all 0.4s;}
.explan-cont .slide-wrap .list li.on p{color: #fff; margin-bottom: 2rem;}
.explan-cont .slide-wrap .list li.on span{display: block;}
.explan-cont .slide-wrap .box{width: calc(70% - 4.6rem);}
.explan-cont .slide-wrap .box li{display: none; transition: all 0.4s;}
.explan-cont .slide-wrap .box li.on{display: block; transition: all 0.4s;}
.explan-cont .slide-wrap .box img{width: 100%; display: block;}
/*review-cont*/
.review-cont{padding: 20.4rem 0 19.2rem;}
.review-cont .rolling-wrap{margin-top: 10rem; overflow: hidden; padding: 1rem 0; width: 1920px;}
.review-cont .rolling-wrap .roll-03 {display: none;}
.review-cont .rolling-wrap .roll-03 ul{display: flex; margin-bottom: 4rem;}
.review-cont .rolling-wrap .roll-01 ul{display: flex; margin-bottom: 4rem;}
.review-cont .rolling-wrap .roll-02 ul{display: flex;}
.review-cont .rolling-wrap ul li{flex-shrink: 0; padding-left: 3rem; display: flex; flex-wrap: wrap; align-items: center; width: 47.7rem; height: 15.6rem; box-shadow: 0px 0px 10px 1px #0054D340; border-radius: 20px; margin-right: 4rem;}
.review-cont .rolling-wrap ul li p{text-align: left; font-size: 1.8rem; color: #1a1a1a; line-height: 3rem; margin:0 0 2rem 3rem;}
.review-cont .rolling-wrap ul li span{font-size: 1.6rem; color: #0054D3; font-weight: 600; margin-left: 3rem;}
/*pro-cont*/
.pro-cont{padding: 19.2rem 0 29.2rem;}
.pro-cont .notice-wrap{display: flex; justify-content:space-between; margin-top: -5rem;}
.pro-cont .notice-wrap ul{position: relative; width: calc(50% - 1rem);}
.pro-cont .notice-wrap ul li{font-size: 2rem; padding: 2rem; text-align: center; border-radius: 1rem; margin-bottom: 1rem; line-height: 1.5;}
.pro-cont .notice-wrap ul li:last-child{margin-bottom: 0;}
.pro-cont .notice-wrap .left li{background-color: #f2f2f2;}
.pro-cont .notice-wrap .right li{background-color: #3A4149; color: #fff;}
.pro-cont .notice-wrap .left img{margin-right: 42%;}
.pro-cont .notice-wrap .right img{margin-left: 42%;}
.pro-cont .notice-wrap .notice-icon span{display: none; border: 1px solid #0054D3; border-radius: 3rem; color: #0054D3; font-size: 2.2rem; width: 11rem; height: 2.8rem; padding: 1rem 2.4rem; font-weight: 600;}
.pro-cont .notice-wrap .notice-icon1 span{border: 1px solid #000; color: #000;}
/*sup-cont*/
.sup-cont{padding: 18rem 0 0 0; background-color: #3A4149;}
.sup-cont .box-wrap{margin-top: 9.4rem;}
.sup-cont .box-wrap ul{display: flex; justify-content: space-between; text-align: center; padding-bottom: 27rem;}
.sup-cont .box-wrap ul li{width: calc(33.3% - 1.4rem);}
.sup-cont .box-wrap ul li img{display: block; width: 100%;}
.sup-cont .box-wrap ul li p{font-size: 2.8rem; margin: 5.6rem 0 4rem; font-weight: 600;}
.sup-cont .box-wrap ul li span{font-size: 1.8rem; line-height: 2.8rem;}
.sup-cont .slide-box-wrap{display: none; width: 100%; margin-top: 7.4rem;}
.sup-cont .slide-box-wrap li img{width: 100%; display: block;}
.sup-cont .slide-box-wrap li p{font-size: 2.8rem; margin: 5.6rem 0 4rem; font-weight: 600;}
.sup-cont .slide-box-wrap li span{font-size: 1.8rem; line-height: 2.8rem;}
.sup-cont .promotion {background: #0054D3 url("../images/sup-bg2.png") no-repeat center center; padding: 0 0 12rem 0; background-size: cover; text-align: center;}
.sup-cont .promotion .txt{position: relative; width: 50%; margin: auto; padding-top: 12rem;}
.sup-cont .promotion .bg-icon{position: absolute; top: -3rem; left: -28%;}
.sup-cont .promotion .btn-main{margin: auto; display: inline-block; margin-top: 7rem; z-index: 9;}
.sup-cont .promotion .btn-main a{background-color: #000; border-radius: 0.8rem; padding: 1.7rem 3.2rem;display: block; font-size: 1.8rem; text-align: center; transition: all 0.4s;}
.sup-cont .promotion .btn-main a:hover{color: #0054D3; background-color: #fff; transition: all 0.4s;}
/*faq-cont*/
.faq-cont{padding: 22rem 0 18rem 0; background-color: #000; border-bottom: 1px solid #9DA0A4;}
.faq-cont .faq-wrap{text-align: left;}
.faq-cont .faq-wrap details{font-size: 2.4rem; transition: all 0.4s;}
.faq-cont .faq-wrap details summary{position: relative; border-top: 1px solid #fff; cursor: pointer; padding: 3.8rem 0; line-height: 1.2;}
.faq-cont .faq-wrap details[open] summary::after{content: '-'; font-size: 6rem;}
.faq-cont .faq-wrap details summary::after{position: absolute; right: 0; top: 50%; transform: translateY(-50%); font-size: 5rem; font-weight: 100; content: '+'; box-sizing: border-box;}
.faq-cont .faq-wrap details p{font-size: 1.8rem; padding: 4rem; border-radius: 2rem; line-height: 4rem; background-color: #2C2E2F; margin: 2rem 0;}
.faq-cont .faq-wrap details:last-child{border-bottom: 1px solid #fff;}
details[open] summary ~ * {animation: open 0.5s ease-in-out;}
details[close] summary ~ * {animation: close 0.5s ease-in-out;}
@keyframes open {
0% {opacity: 0; margin-left: -20px;}
100% {opacity: 1; margin-left: 0px;}
}
@keyframes close {
0% {opacity: 1; margin-left: 0px}
100% {opacity: 0; margin-left: -20px;}
}
.faq-cont .btn-faq{margin: 3rem auto 0; width: 25.4rem; border: 1px solid #9DA0A4; border-radius: 8px;}
.faq-cont .btn-faq a{display: block; text-align: cetner; padding: 2.2rem 0; font-size: 2rem; color: #fff;}
/*slick-dots*/
.slick-dots {margin: 0; padding: 0; display: flex; justify-content: center; margin-top: 6rem;}
.slick-dots li {margin-right: 2rem}
.slick-dots li button { background: #fff; width: 6px; height: 12px; font-size: 0;  border-radius: 50%; border: none;  text-indent: -9999px;} /* 원 모양 */
.slick-dots li.slick-active button { background: #0054D3; }

@media (max-width:1200px){
    html, body {font-size: 9px;}
    footer .footer-inner{width: 92%;}
    .cont{width: 92%;}
    header{ width: 100%; background-color: #0054D3;}
    header .gnb{ justify-content: space-between; width: 92%; margin: auto; display: flex; padding: 3rem 0;}
    header .gnb .btn-app a{ transition: all 0.4s;}
    header .gnb .btn-app a:hover{ color: #A8F5FF; transition: all 0.4s;}
}
@media (max-width: 1080px){
    /*explan-cont*/
    .explan-cont img{width: 100%; display: block;}
    .explan-cont .slide-wrap{display: unset; margin-top: 0;}
    .explan-cont .slide-wrap .box{display: none;}
    .explan-cont .slide-wrap .list{width: 100%; margin-top: 11.5rem;}
    .explan-cont .slide-wrap .list li p br{display: none;}
    .explan-cont .slide-wrap .list li.on .m-box-img{display: block;}
    .pro-cont .notice-wrap .right img{margin-left: 32%;}
}
@media (max-width: 768px){
    html, body {font-size: 8px;}
    /*intro-cont*/
    .intro-cont{padding: 3rem 0 0;}
    .intro-cont .txt {font-size: 2.4rem; padding: 0 0 6.4rem;}
    .intro-cont .box-wrap {flex-direction: column;}
    .intro-cont .box-wrap li{width: 100%; margin-bottom: 3rem;}
    .intro-cont .box-wrap li:nth-child(2){margin-bottom: 3rem;}
    .intro-cont .box-wrap li .box-txt br{display: none;}
    /*result-cont*/
    .result-cont{padding: 20rem 0 14.6rem;}
    .result-cont .card-wrap ul{flex-direction: column;}
    .result-cont .card-wrap .card{width: 100%; margin-bottom: 3rem;}
    .result-cont .card-wrap .card1{background: #3a4149 url("../images/m_main_tablet2.png") no-repeat right; background-size: cover;}
    .result-cont .card-wrap .card2{background: #f6f6f6 url("../images/m-explan-icon1.png") no-repeat 76% 80%;  background-size: cover;}
    .result-cont .card-wrap .card3{background: #f6f6f6 url("../images/m-explan-icon2.png") no-repeat 76% 82%;  background-size: cover;}
    /*explan-cont*/
    .explan-cont{padding: 14.6rem 0;}
    /*review-cont*/
    .review-cont{padding: 14.6rem 0;}
    .review-cont .rolling-wrap .roll-03 {display: block;}
    .review-cont .rolling-wrap .roll-01 ul{margin-bottom: 3rem;}
    .review-cont .rolling-wrap .roll-01 ul li:last-child{display: none;}
    .review-cont .rolling-wrap .roll-02 ul{margin-bottom: 3rem;}
    .review-cont .rolling-wrap .roll-02 ul li:last-child{display: none;}
    .review-cont .rolling-wrap ul li{margin-right: 2rem;}
    /*pro-cont*/
    .pro-cont{padding: 14.6rem 0;}
    .pro-cont .notice-wrap{flex-direction: column-reverse; margin-top: 3rem;}
    .pro-cont .notice-wrap ul{width: 100%;}
    .pro-cont .notice-wrap ul li:last-child{margin-bottom: 0;}
    .pro-cont .notice-wrap .right{margin-bottom: 6rem;}
    .pro-cont .notice-wrap .left img{margin-right: 0;}
    .pro-cont .notice-wrap .right img{margin-left: 0;}
    .pro-cont .notice-wrap .notice-icon {display: flex; justify-content: space-between; align-items: end;}
    .pro-cont .notice-wrap .notice-icon span{display: block; margin-bottom: 2rem;}
    /*sup-cont*/
    .sup-cont{padding: 14.6rem 0 0 0;}
    .sup-cont .box-wrap{display: none;}
    .sup-cont .slide-box-wrap {display: block; width: 100%; padding-bottom: 14.6rem;}
    .sup-cont .slide-box-wrap li img{width: 100%; display: block;}
    .sup-cont .slide-box-wrap li p{font-size: 2.8rem; margin: 5.6rem 0 4rem; font-weight: 600;}
    .sup-cont .slide-box-wrap li span{font-size: 1.8rem; line-height: 2.8rem;}
    .sup-cont .promotion{background: url("../images/m-sup-bg2.png") no-repeat bottom center; background-size: cover; position: relative; padding: 0 0 13rem 0; background-color: #0054D3; text-align: center;}
    .sup-cont .promotion .txt{position: relative; width: 50%; margin: auto; padding-top: 12rem;}
    .sup-cont .promotion .bg-icon{position: absolute; top: -3rem; left: -28%; width: 12rem;}
}
@media (max-width: 400px){
    html, body{font-size: 6px;}
    .intro-cont .box-wrap li .icon{width: 14rem;}
    .intro-cont .box-wrap li .icon img{display: block; width: 100%;}
    .pro-cont .notice-wrap .right img{width: 50%;}
    .pro-cont .notice-wrap .left img{width: 40%;}
}