@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
/*리셋 CSS*/
html, body, p, div, select, ul, dl, ol, dd, li, table,
tr, th, td, h1, h2, h3, h4,
form, fieldset, legend, table, tr, td, th, caption,
address, blockquote {
margin: 0; padding: 0; word-break: keep-all;}
html,
body {
    font-size: 10px;
}
address,
em {
    font-style: normal;
}
fieldset,
img {
    border: 0 none;
}
h1,
h2,
h3,
h4,
h5 {
    font-size: 1em;
    line-height: 1;
    margin: 0;
    padding: 0;
}
legend,
caption,
hr {
    display: none;
    width: 0;
    height: 0;
    font-size: 0;
}
input {
    padding: 0;
    margin: 0;
    border: 0px;
    vertical-align: middle;
}
dl,
dt,
dd,
ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
}
article,
section {
    display: block;
    margin: 0;
    padding: 0;
}
img {
    vertical-align: top;
}
table {
    border-spacing: 0px;
    border: 0px;
    border-collapse: collapse;
}
address,
hr {
    display: none;
}
form {
    display: inline;
}
fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'pretendard', sans-serif, sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 1;
    width: 100%;
    height: 100%;
    word-break: break-all;
    color: #2f3d49;
}
input {
    font-family: 'Noto Sans KR', '돋움', 'dotum', sans-serif;
}
option {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}
textarea {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}
a,
a:hover,
a:visited,
a:active,
a:link
a:not(.link_st) {
    text-decoration: none;
    color: #000;
    outline: none;
}
/*layout*/
.wrap{position: relative;}
.cont{width: 120rem; margin: auto; text-align: center;}
/*font-style*/
.fw-600{font-weight: 600;}
.fw-500{font-weight: 500;}
.fw-400{font-weight: 400;}
.fs-18{font-size: 1.8rem;}
.fs-24{font-size: 2.4rem;}
.fs-50{font-size: 5rem;}
.fc-w{color: #fff;}
.fc-bb{color: #1a1a1a;}
.fc-b{color: #0054D3;}
/*header*/
header{ width: 100%; background-color: #0054D3;}
header .gnb{ justify-content: space-between; width: 1200px; margin: auto; display: flex; padding: 3rem 0;}
header .gnb .btn-app a{ transition: all 0.4s;}
header .gnb .btn-app a:hover{ color: #A8F5FF; transition: all 0.4s;}
/*section*/ 
.section .txt{text-align: center;}
.section .txt h2{font-size: 5rem; font-weight: 600; line-height: 6.8rem; letter-spacing: -0.6px;}
.section .txt p{font-size: 1.8rem; line-height: 3rem; font-weight: 400; margin-top: 2.7rem;}
.section .txt .f-point{font-size: 2.4rem; font-weight: 600; color: #0054D3;}
/*footer*/
footer{padding: 7rem 0; background-color: #000; text-align: center;}
footer .footer-inner{width: 1200px; margin: auto;}
footer .private{display: flex; justify-content: center; font-size: 1.8rem; margin-bottom: 3.8rem;}
footer .private li{padding: 0 1rem; border-right: 1px solid #fff;}
footer .private li:last-child{border:none;}
footer .private li a{color: #fff;}
footer .add{color: #A3A3A3; font-size: 1.6rem; line-height: 3rem; margin-bottom: 6rem;}
footer .copyright{color: #A3A3A3; font-size: 1.6rem;}



